body { margin:0; padding:0; font-family: sans-serif; }
#map { 
  position:absolute; top:0; bottom:0; width:100%; 
  /*background-color: #090819;*/
  /*background-color: #000;*/
  background-color: #090819;
  /*background-color:rgba(0,0,0,1); */
}

/*a:hover { 
    color: yellow !!important;
}
*/
.leaflet-bar, .leaflet-control-layers {
  background-color: rgba(255,255,255,0.6);
  border-radius: 0px;
  /*border-color: rgba(0,0,0,0);*/
  /*top: 100px;*/
  /*left: 30px;*/
}

.menu-1:hover, .menu-2:hover {
  color: #fff;
}

.logo {
  color: #fff;
  /*background-color: rgba(0,0,0,0.2);*/
  /*fill: #fff;*/
  position:absolute;
  left: 50px;
  top: 40px;
  font-weight: 400;
  letter-spacing: 10px;
  font-size: 18px;
  opacity: 1;
  z-index: 20 !important;
}

.menu-1 {
  color: #ddd;
  /*background-color: rgba(0,0,0,0.2);*/
  /*fill: #fff;*/
  position:absolute;
  right: 250px;
  top: 40px;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 13px;
  opacity: 1;
  z-index: 1 !important;
}

.menu-2 {
  color: #ddd;
  /*background-color: rgba(0,0,0,0.2);*/
  /*fill: #fff;*/
  position:absolute;
  right: 50px;
  top: 40px;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 13px;
  opacity: 1;
  z-index: 1 !important;
}

pre.ui-coordinates {
  position:absolute;
  bottom:10px;
  left:10px;
  padding:5px 10px;
  background:rgba(0,0,0,0.5);
  color:#fff;
  font-size:11px;
  line-height:18px;
  border-radius:3px;
  }

/*Menu UI*/
.menu-ui {
  background:rgba(255,255,255,0.4);
  position:absolute;
  top:80px;
  left:40px;
  z-index:1;
  border-radius:0px;
  width:120px;
  border:1px solid rgba(0,0,0,0.1);
}
.menu-ui a {
  font-size:11px;
  letter-spacing: 1px;
  color: #000;
  display:block;
  /*display: none;*/
  margin:0;padding:0;
  padding:10px;
  text-decoration:none;
  /*border-bottom:1px solid rgba(0,0,0,0.25);*/
  text-align:center;
}
.menu-ui a:first-child {
  border-radius:0px 0px 0 0;
}
.menu-ui a:last-child {
  border:none;
  border-radius:0 0 0px 0px;
}
.menu-ui a:hover {
  background:#f8f8f8;
}
.menu-ui a.active {
  background:#000;
  color:#FFF;
}


.menu-ui a.active:hover {
  background:#000;
}

/*Legend*/
.map-legend .swatch {
  width:20px;
  height:20px;
  float:left;
  margin-right:10px;
}
.leaflet-popup-close-button {
  display: none;
}
.leaflet-popup-content-wrapper {
  pointer-events: none;
}


/*Age population viz*/
.des_age {
	visibility: hidden;
	position: absolute;
	top: 80px;
	/*left: 120px;*/
  right: 38px;
	width: 300px;
	z-index: 14 !important;
  color: white;
}
.side_left {
	position: absolute;
	/*left: 80px;*/
  right: 230px;
	top: 0px;
	width: 150px;
	height: 100%;
	/*background-color: rgba(255, 255,255,0.8);*/
  background-color: rgba(0, 0, 0, 0.3);
	z-index: 5 !important;
	visibility: hidden;
}
.side_right {
	position: absolute;
	/*left: 230px;*/
  right: 80px;
	top: 0px;
	width: 150px;
	height: 100%;
	/*background-color: rgba(255, 255,255,0.8);*/
  background-color: rgba(0, 0, 0, 0.3);
	z-index: 5 !important;
	visibility: hidden;
}

/*population by age bar graph*/
.bar.positive {
  fill: #60b260;
}

.bar.negative {
  fill: #f4b925;
}
.axis text {
  font: 9px sans-serif;
  fill: white;
}

.axis path,
.axis line {
  fill: none;
  stroke: #fff;
  /*stroke: #000;*/
  shape-rendering: crispEdges;
}

.highlight {
	position: absolute;
	fill: rgba(0,0,0,0.3);
	z-index: 20 !important;
}
